<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.keel.smartdrawing.fiori"
    version="1.0.10">
    <name>SmartDrawing</name>
    <description>Smart Drawing integration for SAP Fiori Client</description>
	<author>Keel Solution ApS</author>
    <keywords>cordova,smart drawing,smart,drawing, kapsel</keywords>
		
	<info>Please see our plugin documentation for more information: https://wiki.keelsolution.com/display/SMD/DEVELOPMENT%3A+Building+SAP+Fiori+Client+with+Smart+Drawing+app+integration</info>

    <js-module src="www/smartdrawing.js" name="SmartDrawing">
        <clobbers target="SmartDrawing" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SmartDrawing" >
                <param name="android-package" value="com.keel.smartdrawing.fiori.SmartDrawing"/>
            </feature>
        </config-file>
		
		<!-- update AndroidMainfist.xml to add listener for Smart drawing broadcast -->
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<receiver
				android:name="com.keel.smartdrawing.fiori.SupportedEquipmentsBroadcastReceiver"
				android:enabled="true" >
				<intent-filter>
					<action android:name="com.keelsolution.action.CHECK_EQUIPMENT_VIEW" />
				</intent-filter>
			</receiver>
		</config-file>
		
		<!-- update AndroidMainfist.xml to add own activity for reacting on call from Smart Drawing -->
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
        	<activity android:name="com.keel.smartdrawing.fiori.LandingActivity">
				<intent-filter>
					<action android:name="com.keelsolution.action.CALL_FIORI" />
					<data android:scheme="$PACKAGE_NAME" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</activity>
        </config-file>
		

        <source-file src="src/android/SmartDrawing.java" target-dir="src/com/keel/smartdrawing/cordova" />
		<source-file src="src/android/LandingActivity.java" target-dir="src/com/keel/smartdrawing/cordova" />
		<source-file src="src/android/SupportedEquipmentsBroadcastReceiver.java" target-dir="src/com/keel/smartdrawing/cordova" />
		<source-file src="src/android/SingletonContextContainer.java" target-dir="src/com/keel/smartdrawing/cordova" />

    </platform>

</plugin>